<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.spitchenko.focusstart"
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">
	
	<uses-permission android:name="android.permission.INTERNET" />
	
	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="AllowBackup,GoogleAppIndexingWarning">
		<service android:name="com.spitchenko.focusstart.channel_window.RssChannelIntentService" />
		<service android:name="com.spitchenko.focusstart.channel_window.RssChannelReadIntentService" />
		
		<activity android:name="com.spitchenko.focusstart.channel_window.ChannelActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.spitchenko.focusstart.channel_iItem_window.ChannelItemActivity" />
	</application>

</manifest>