<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.spitchenko.focusstart">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name="com.spitchenko.focusstart.FocusStartApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_rss_feed_amber_50_36dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <service android:name=".channelwindow.controller.RssChannelIntentService"/>
        <service android:name=".channelitemwindow.controller.RssChannelItemIntentService"/>

        <activity
            android:name=".base.view.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.xml"/>
                <data android:pathPattern=".*\\.rss"/>
                <data android:pathPattern=".*\\.atom"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:mimeType="text/xml"/>
                <data android:mimeType="application/rss+xml"/>
                <data android:mimeType="application/atom+xml"/>
                <data android:mimeType="application/xml"/>
            </intent-filter>
        </activity>

        <receiver android:name="com.spitchenko.focusstart.base.controller.RefreshBroadcastReceiver"/>
        <receiver android:name="com.spitchenko.focusstart.base.controller.OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.PACKAGE_RESTARTED"/>
                <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>